<section id="delete-folder-container">
    <h4 *ngIf="numberOfChildren === 1" mat-dialog-title>Delete {{folderName}} and {{numberOfChildren}} item?</h4>
    <h4 *ngIf="numberOfChildren > 1" mat-dialog-title>Delete {{folderName}} and {{numberOfChildren}} items?</h4>
    <!--<mat-dialog-content>Confirm deletion of Sample and 7 items</mat-dialog-content>-->
    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button class="skybin-btn-primary" mat-raised-button (click)="deleteFolder()">Delete</button>
    </mat-dialog-actions>
</section>
