<div id="my-files-container">
    <div id="my-files-buttons">
        <button mat-raised-button class="skybin-btn-primary" (click)="uploadClicked()" name="my-files-upload-button">
            Upload
        </button>
        <button mat-raised-button class="skybin-btn-primary" (click)="downloadClicked()" name="my-files-download-button">
            Download
        </button>
        <button mat-raised-button class="skybin-btn-primary" (click)="shareClicked()" name="my-files-share-button">
            Share
        </button>
        <button mat-raised-button class="skybin-btn-primary" (click)="newFolderClicked()" name="my-files-new-folder-button">
            New Folder
        </button>
        <div id="my-files-search-container" class="input-group">
            <!-- <span class="input-group-btn"> -->
            <!-- <button id="search-button" class="btn" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span> -->
            <input id="my-files-search"
                [(ngModel)]="currentSearch"
                (input)="onSearchChanged()"
                type="text" class="form-control"
                placeholder="&#xf002; Search..." aria-label="Search...">
        </div>
    </div>

    <!-- File context menu. Typically hidden. -->
    <div id="context-menu-container">
        <!-- This button triggers context menu opens/closes but is not displayed -->
        <button id="context-menu-trigger" mat-button #ctxtMenuTrigger [matMenuTriggerFor]="menu"></button>
        <div id="context-menu">
             <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="downloadFile(selectedFile)">Download</button>
                <button mat-menu-item (click)="shareClicked()">Share</button>
                <button mat-menu-item (click)="deleteFile(selectedFile)">Delete</button>
            </mat-menu>
        </div>
    </div>

    <app-filebrowser
        [filesToDisplay]="filteredFiles"
        (onPathChanged)="onPathChanged($event)"
        (onFileSelected)="onFileSelected($event)"
        (onFileContextClick)="onContextClick($event)"></app-filebrowser>

   <!-- Uploads popup -->
    <div id="popups-container">
        <div *ngIf="showUploads" id="uploads-overlay" class="modal in" tabindex="-1" type="dialog" data-show="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 mat-dialog-title>Uploads</h5>
                        <button (click)="hideUploads()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div *ngFor="let upload of uploads" class="upload-item">
                            <div>
                                {{baseName(upload.destPath)}}
                                <i *ngIf="upload.state === 'TRANSFER_DONE'" class="fa fa-check-circle transfer-icon" aria-hidden="true"></i>
                                <i *ngIf="upload.state === 'TRANSFER_ERROR'" class="fa fa-exclamation-circle transfer-icon" aria-hidden="true"></i>
                            </div>
                            <mat-progress-bar *ngIf="upload.state === 'TRANSFER_RUNNING'" mode="indeterminate"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Downloads popup -->
        <div *ngIf="showDownloads" id="uploads-overlay" class="modal in" tabindex="-1" type="dialog" data-show="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 mat-dialog-title>Downloads</h5>
                        <button (click)="hideDownloads()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div *ngFor="let download of downloads" class="upload-item">
                            <div>
                                {{download.destPath}}
                                <i *ngIf="download.state === 'TRANSFER_DONE'" (click)="showFinishedDownload(download)" class="fa fa-search transfer-icon" aria-hidden="true"></i>
                                <i *ngIf="download.state === 'TRANSFER_ERROR'" class="fa fa-exclamation-circle transfer-icon" aria-hidden="true"></i>
                            </div>
                            <mat-progress-bar *ngIf="download.state === 'TRANSFER_RUNNING'" mode="indeterminate"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
