<div id='my-files-container'>
    <div id='my-files-buttons'>
        <button mat-raised-button class="my-files-button" (click)='uploadFile()' name='my-files-upload-button'>Upload</button>
        <button mat-raised-button class="my-files-button" (click)='downloadFile()' name='my-files-download-button'>Download</button>
        <button mat-raised-button class="my-files-button" (click)='newFolder()' name='my-files-new-folder-button'>New Folder</button>
    </div>

<app-filebrowser [filesToDisplay]="myFiles" (onPathChanged)="onPathChanged($event)" (onFileSelected)="onFileSelected($event)"></app-filebrowser>

    <!-- <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" (click)="currentPath = []" aria-current="page">Home</li>
          <li class="breadcrumb-item"  *ngFor='let dir of currentPath' (click)="breadcrumbPath(dir)" aria-current="page">{{ dir }}</li>
        </ol>
      </nav>

    <mat-list>
        <mat-list-item (click)="changeDir(dir)" *ngFor='let dir of getFilesInCurrentDirectory(currentPath, myDirs)'>
            <mat-checkbox (change)="selectFile($event, dir)"></mat-checkbox>
            {{getName(dir)}}
        </mat-list-item>
        <mat-list-item *ngFor='let file of getFilesInCurrentDirectory(currentPath, myFiles)'>
            <mat-checkbox (change)="selectFile($event, file)"></mat-checkbox>
            {{getName(file)}}
        </mat-list-item>
    </mat-list> -->
</div>
