<div id='my-files-container'>
    <div id='my-files-buttons'>
        <button mat-raised-button class="skybin-btn-primary" (click)='uploadFile()' name='my-files-upload-button'>Upload</button>
        <button mat-raised-button class="skybin-btn-primary" (click)='downloadFile()' name='my-files-download-button'>Download</button>
        <button mat-raised-button class="skybin-btn-primary" (click)='newFolder()' name='my-files-new-folder-button'>New Folder</button>
    </div>

<app-filebrowser [filesToDisplay]="myFiles" (onPathChanged)="onPathChanged($event)" (onFileSelected)="onFileSelected($event)"></app-filebrowser>
</div>
