#my-files-container {
    height: 100%;
}

#my-files-buttons {
    padding: 15px;
    border-bottom: 1px solid #d5d5fa    
}

.my-files-button {
    color: rgba(255, 255, 255, .87) !important;
    background: #00A7F3 !important;
}

.container-fluid {
    height: 100%;
}

