#my-files-container {
    height: 100%;
    overflow: hidden;
}

#my-files-buttons {
    padding: 15px;
    border-bottom: 1px solid #d5d5fa
}

.modal.in {
    display: block;
    width: 300px;
    height: 150px;
    position: static;
    right: 50px;
    bottom: 20px;
}

.modal .modal-body {
    overflow-y: auto;
}

.modal-header {
    max-height: 60px;
}

.modal-dialog {
    position: fixed;
    width: 300px;
    height: 150px;
    bottom: 20px;
    right: 50px;
    margin: 0px;
}

.modal-body {
    max-height: 90px;
    overflow: scroll;
}

.modal-content {
    overflow: auto;
    max-height: 150px;
}

.container-fluid {
    height: 100%;
}

#my-files-search-container {
    float: right;
    width: 15em;
}

#search-button {
    color: rgb(255, 255, 255) !important;
    background-color: #00A7F3;
}

.upload-item {
    margin-bottom: 10px;
}

#my-files-search {
    font-family: FontAwesome, Arial;
}
