button:focus {outline:0;}

#my-files-container {
    height: 100%;
    overflow: hidden;
}

#my-files-buttons {
    padding: 15px;
    border-bottom: 1px solid #d5d5fa
}

.context-menu-trigger {
    display: none;
}

#popups-container {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.modal.in {
    bottom: 20px;
    display: block;
    float: right;
    margin-right: 20px;
    max-height: 150px;
    position: static;
    width: 300px;
}

.modal-dialog {
    width: 300px;
    max-height: 150px;
    margin: 0px;
    float: right;
}

.modal .modal-body {
    overflow-y: auto;
}

.modal-header,

.modal-header {
    /*max-height: 60px;*/
    color: white;
    padding: 9px 9px 9px 15px;
}

.modal-body {
    max-height: 90px;
    overflow: scroll;
    padding: 0 !important;
}

.modal-content {
    overflow: auto;
    max-height: 150px;
}

.container-fluid {
    height: 100%;
}

.transfer-icon {
    font-size: 1.3em;
    margin-right: 25px;
    float: right;
}

.transfer-icon:hover {
    /*font-size: 2.0em;*/
    cursor: pointer;
}

#my-files-search-container {
    float: right;
    width: 15em;
    margin-right: 3em;
}

#my-files-buttons {
    min-width: 725px;
}

#search-button {
    color: rgb(255, 255, 255) !important;
    background-color: #00A7F3;
}

.upload-item {
    /*margin-bottom: 10px;*/
    border-bottom: 1px solid gray;
    padding: 10px 10px 10px 15px;
    height: 50px;
}

#my-files-search {
    font-family: FontAwesome, Arial;
}

#my-files-storage-management-container {
    float: right;
    margin-right: 1em;
}

#reserve-space-button, #configure-space-button {
    margin-left: 0.5em;
    background-color: white;
}

#plus-icon, #settings-icon {
    color: #00A7F3;
}

#available-space-container {
    color: #6ab6f3;
}

#insufficient-storage-alert {
    display: none;
}

.close:hover {
    cursor: pointer;
}

#cdk-overlay-0 > mat-dialog-container, #cdk-overlay-1 > mat-dialog-container {
    padding: 0 !important;
}

.green {
    color: green;
}

.red {
    color: red;
}

.upload-progress-button {
    background-color: white;
}

#uploads-overlay > div > div > div.modal-header > div > button:nth-child(1), #uploads-overlay > div > div > div.modal-header > div > button:nth-child(2), .modal-header, #downloads-overlay > div > div > div.modal-header > button {
    /*background: #00A7F3;*/
    background: #4c4c4c;
    box-shadow: none !important;
}


#mat-dialog-title-0 {
    margin-bottom: 0;
}

#upload-progress-header-title, #download-progress-header-title {
    margin-top: auto;
    margin-bottom: auto;
}

.file-upload-progress-button {
    float: right;
}

.file-upload-name {
    margin-top: auto;
    margin-bottom: auto;
}

#uploads-overlay > div > div > div.modal-body > div > div > button {
    background: white;
}

#downloads-overlay > div > div > div.modal-header > div > button:nth-child(1), #downloads-overlay > div > div > div.modal-header > div > button:nth-child(2) {
    /*background: #00A7F3;*/
    background: #4c4c4c;
    box-shadow: none !important;
}
