<div id="file-browser-container">
    <div id="file-breadcrumb" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <img
                *ngIf="!shared"
                matTooltip="Create a new folder"
                matTooltipShowDelay="500"
                id="new-folder-icon"
                (click)="newFolder()"
                class='no-select'
                src="assets/ic_create_new_folder_black_24px.svg"
                alt="">
            <span *ngIf="!shared" id="folder-breadcrumb-divider" class="no-select"> | </span>
            <!--<button (click)="newFolder()" mat-raised-button><i class="fa fa-plus"></i><i class="fa fa-folder"></i></button>-->
            <li class="breadcrumb-item dir-link no-select" (click)="homeClicked()" aria-current="page" droppable
                [dragOverClass]="'drag-over-breadcrumb'" (onDrop)="onFileDrop($event, '', 0)">Home
            </li>
            <li class="breadcrumb-item dir-link no-select" *ngFor='let dir of currentPath; let i = index'
                (click)="breadcrumbClicked(dir)" [dragOverClass]="'drag-over-breadcrumb'"
                aria-current="page" droppable [dragOverClass]="'dragover'" (onDrop)="onFileDrop($event, dir, i)">{{ dir
                }}
            </li>
        </ol>
    </div>
    <div id="file-list-container">
        <table class="table">
            <thead>
            <tr>
                <th class="file-table-header">Name</th>
                <th class="file-table-header" *ngIf="shared">Shared By</th>
                <!--<th>Version</th>-->
                <th class="file-table-header">Size</th>
                <th class="file-table-header">Last Modified</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let dir of getDirsInCurrentDirectory()'
                (click)="changeDir(dir.name)"
                (contextmenu)="onContextClick($event, dir)"
                droppable [dragOverClass]="'drag-over-folder'" (onDragOver)="onFileDragOver($event, dir)"
                (onDrop)="onFileDrop($event, dir)"
                class='dir-link'>
                <td>
                    <span draggable [dragData]='dir' [dragTransitClass]="'fileDrag'" class="file-folder-drag">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    {{baseName(dir.name)}}
                    </span>
                </td>
                <!--<td>-</td>-->
                <td>-</td>
                <td>-</td>
            </tr>
            <tr *ngFor="let file of getFilesInCurrentDirectory()"
                (click)="selectFile(file)"
                (contextmenu)="onContextClick($event, file)"
                [class.selected]="file === selectedFile">
                <td>
                    <span draggable [dragData]='file' [dragTransitClass]="'fileDrag'" class="file-folder-drag">
                    <i *ngIf="file.versions.length < 2" class="fa" aria-hidden="true" [ngClass]="{
                        'fa-file-text-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'txt',
                        'fa-file-pdf-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'pdf',
                        'fa-file-code-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'c'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'js'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'h'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'cpp'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'java'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'go'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'py',
                        'fa-file-word-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'doc'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'docx',
                        'fa-file-archive-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'zip'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'tar'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'bzip'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'bzip2',
                        'fa-file-image-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'png'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'jpg'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'jpeg'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'gif',
                        'fa-file-video-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'mov'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'mp4',
                        'fa-file-audio-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'mp3'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'wav'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'flac',
                        'fa-file-excel-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'xlsx'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'xlsm'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'xltx'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'xltm',
                        'fa-file-powerpoint-o': file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'pptx'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'pptm'
                        || file.name.split('.')[file.name.split('.').length - 1].toLowerCase() === 'ppt'
                    }"></i>
                    <i *ngIf="file.versions.length >= 2" class="fa fa-files-o" aria-hidden="true"></i>
                    {{baseName(file.name)}}
                    </span>
                </td>
                <td *ngIf="shared">
                    {{file.ownerAlias}}
                </td>
                <!--<td>{{file.versions.length}}</td>-->
                <td>
                    {{latestVersion(file).size | bytes}}
                    <!--<span class="file-version-number" *ngIf="file.versions.length >= 2">(x{{file.versions.length}})</span>-->
                </td>
                <td>{{formatModTime(latestVersion(file).modTime)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
