<div id="file-browser-container">
    <div id="file-breadcrumb" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item dir-link" (click)="homeClicked()" aria-current="page" droppable
                [dragOverClass]="'drag-over-breadcrumb'" (onDrop)="onFileDrop($event, '', 0)">Home
            </li>
            <li class="breadcrumb-item dir-link" *ngFor='let dir of currentPath; let i = index'
                (click)="breadcrumbClicked(dir)" [dragOverClass]="'drag-over-breadcrumb'"
                aria-current="page" droppable [dragOverClass]="'dragover'" (onDrop)="onFileDrop($event, dir, i)">{{ dir
                }}
            </li>
        </ol>
    </div>
    <div class="header-table-container">
        <table class="table header-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
            </tr>
            </thead>
            <!-- Hack: Sample rows so that the headers are properly spaced -->
            <tbody>
            <tr>
                <td>
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    {{getLongestFolderName()}}
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>
                    {{getLongestFileName()}}
                </td>
                <td>100 GB</td>
                <td>11-27-2017</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="file-list-container">
        <table class="table">
            <tbody>
            <tr *ngFor='let dir of getDirsInCurrentDirectory()'
                (click)="changeDir(dir.name)"
                (contextmenu)="onContextClick($event, dir)"
                droppable [dragOverClass]="'drag-over-folder'" (onDragOver)="onFileDragOver($event, dir)"
                (onDrop)="onFileDrop($event, dir)"
                class='dir-link'>
                <td >
                    <span draggable [dragData]='dir' [dragTransitClass]="'fileDrag'" class="file-folder-drag">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    {{baseName(dir.name)}}
                    </span>
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr *ngFor="let file of getFilesInCurrentDirectory()"
                (click)="selectFile(file)"
                (contextmenu)="onContextClick($event, file)"
                [class.selected]="file === selectedFile">
                <td >
                    <span draggable [dragData]='file' [dragTransitClass]="'fileDrag'"  class="file-folder-drag">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    {{baseName(file.name)}}
                    </span>
                </td>
                <td>{{latestVersion(file).size | bytes}}</td>
                <td>{{formatModTime(latestVersion(file).modTime)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
