<div id="rent-storage-container">
  <mat-tab-group>
    <mat-tab label="Summary">
      <mat-card>
        <mat-card-title>Storage</mat-card-title>
        <section>
          <mat-card-subtitle>Reserved Space</mat-card-subtitle>
          <mat-card-content>{{renterInfo.reservedStorage}}</mat-card-content>
        </section>
        <section>
          <mat-card-subtitle>Free Space</mat-card-subtitle>
          <mat-card-content>{{renterInfo.freeStorage}}</mat-card-content>
        </section>
        <section>
          <mat-card-subtitle>Cost Per Month</mat-card-subtitle>
          <mat-card-content>$2.63</mat-card-content>
        </section>
        <section>
          <mat-card-subtitle>Total Storage Contracts</mat-card-subtitle>
          <mat-card-content>{{renterInfo.totalContracts}}</mat-card-content>
        </section>
        <section>
          <mat-card-subtitle>Reserve More Space</mat-card-subtitle>
          <mat-card-content>
            <mat-form-field>
              <input matInput #storageAmount placeholder="Amount" value="0" type="number">
            </mat-form-field>
            <button mat-raised-button (click)="reserveClicked(storageAmount.value)">Reserve</button>
          </mat-card-content>
        </section>
      </mat-card>
    </mat-tab>
    <mat-tab label="Settings">
      <mat-card>
        <mat-card-content>
          <mat-form-field>
            <input matInput [(ngModel)]="settings.redundancy" placeholder="Storage Redundancy" type="number">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field>
            <input matInput [(ngModel)]="settings.minContractDuration" placeholder="Min Contract Duration" type="number">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field>
            <input matInput [(ngModel)]="settings.maxContractDuration" placeholder="Max Contract Duration" type="number">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field>
            <input matInput [(ngModel)]="settings.maxPricePerGbPerMonth" placeholder="Max Price/GB/Month" type="number">
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button>Update Settings</button>
      </mat-card>
    </mat-tab>
  </mat-tab-group>