<div id="configure-provider-dialog-container">
    <mat-card-title>
        Settings
    </mat-card-title>
    <mat-dialog-content>
        <div class="example-container">
            <mat-list>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput [(ngModel)]='publicApiIp' placeholder='Public Address' type='string'>
                        <button matSuffix id="auto-ip-button" (click)="autoUpdateIp()">
                            Auto
                        </button>
                    </mat-form-field>
                    <mat-form-field id="port-field">
                        <input matInput [(ngModel)]='publicApiPort' placeholder='Port' min="1024" max="65535" step="1" type='number'>
                        <span matPrefix>:&nbsp;</span>
                    </mat-form-field>
                </mat-list-item>

                <br>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput [(ngModel)]="storageAmountGb" placeholder="Storage Amount" type="number">
                        <!--<span matSuffix>Gigabytes&nbsp;</span>-->
                    </mat-form-field>
                    Gigabytes
                </mat-list-item>
                <br>
                <mat-list-item>
                    <mat-form-field id="policy-field">
                        <mat-select placeholder="Pricing Policy" [(value)]='settings.pricingPolicy'>
                            <mat-option value="aggressive">Aggressive</mat-option>
                            <mat-option value="passive">Passive</mat-option>
                            <mat-option value="fixed">Fixed</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
                <br>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput [(ngModel)]='minStorageRate' placeholder='Minimum Storage Rate' type='number'>
                    </mat-form-field>
                    $/GB/Month
                </mat-list-item>
                <!--<br>-->
                <!--<mat-list-item>-->
                    <!--<mat-form-field>-->
                        <!--<input matInput [(ngModel)]='maxStorageRate' placeholder='Maximum Rate' type='number'>-->
                    <!--</mat-form-field>-->
                    <!--$/GB/Month-->
                <!--</mat-list-item>-->
            </mat-list>
            <mat-error *ngIf="errorMessage.length > 0">
                {{errorMessage}}
            </mat-error>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div >
            <button mat-raised-button class="skybin-btn-primary"
                    (click)="updateProviderSettings()">
                Update Settings
            </button>
        </div>
        <!--<button mat-raised-button class="skybin-btn-primary"-->
        <!--(click)="dialogRef.close()">-->
        <!--Cancel-->
        <!--</button>-->
    </mat-dialog-actions>
</div>
