
#provider-registration-container {
    margin-left: 20%;
    margin-top: 20px;
    display: inline-block;
}

#provider-registration-title {
    margin-bottom: 20px;
}

#provider-registration-progress-content {
    text-align: center;
    margin-top: 50px;
}

#auto-ip-button {
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255) !important;
    background-color: lightblue;
}


#port-field {
    padding-left: 15px;
}
