
#registration-container {
    padding: 30px;
    overflow: hidden !important;
}

#registration-progress-content {
    text-align: center;
}

#registration-progress-spinner {
    display: inline-block;
    margin: 40px;
}
