.provider-tab-group {
    border: 1px solid #e8e8e8;
}
mat-list {
    flex-grow: 1;
    border: 3px solid green;
}

#provide-storage-summary-container {
    /*padding-right: 0px;*/
}

#provide-storage-activity-container {
    /*padding-left: 0px;*/
    height: 396px;
    overflow: overlay;
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}

#provide-storage-container {
    /*height: calc(100vh - 5px);*/
}

#mat-tab-content-0-0 > div {
    overflow: hidden;
}

#activity-title-container {
    padding-top: 24px;
    padding-left: 24px;
}
