<div class='col-sm-12' id='provide-storage-summary-container'>
    <section>
        <mat-card-title class='summary-card-title'>
            Node ID: <span id="node-id-span">{{providerInfo.providerId}}</span>
            <button id='configure-provider-button' mat-mini-fab class='skybin-btn-primary'
                    (click)='configureProviderClicked()'
                    matTooltip='Update settings' name='provider-configure-button'>
                <i id='settings-icon' class='fa fa-cog' aria-hidden='true'></i>
            </button>
        </mat-card-title>
        <mat-card-subtitle id="node-status">
            Status: Running
            <i id="node-status-icon" class="fa fa-check-circle"></i>
        </mat-card-subtitle>
        <mat-card class="mat-elevation-z1">
            <div class='row'>
                <div class='col-sm-4'>
                    <mat-card-subtitle>
                        Storage Allocated
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{providerInfo.storageAllocated | bytes}}
                    </mat-card-content>
                </div>
                <div class='col-sm-4'>
                    <mat-card-subtitle>
                        Storage Reserved
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{providerInfo.storageReserved | bytes}}
                    </mat-card-content>
                </div>
                <div class='col-sm-4'>
                    <mat-card-subtitle>
                        Storage Free
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{providerInfo.storageFree | bytes}}
                    </mat-card-content>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-4'>
                    <mat-card-subtitle>
                        Storage Used
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{providerInfo.storageUsed | bytes}}
                    </mat-card-content>
                </div>
                <div class='col-sm-4'>
                    <mat-card-subtitle>
                        Total Contracts
                    </mat-card-subtitle>
                    <mat-card-content>
                        {{providerInfo.totalContracts}}
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </section>
</div>
<div class='col-sm-12' id='provide-storage-activity-container'>
    <section>
        <mat-card-title id="activity-card-title" class='summary-card-title'>
            Activity
        </mat-card-title>
        <div id='provide-storage-activity-feed-container' class='example-container mat-elevation-z8'>
            <mat-table #table [dataSource]='dataSource' matSort>

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef='Request Type'>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Request Type</mat-header-cell>
                    <mat-cell *matCellDef='let element'> {{element.requestType}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef='Block ID'>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Block Id</mat-header-cell>
                    <mat-cell *matCellDef='let element'>
                        {{element.blockId | truncate}}
                    </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef='Renter ID'>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Renter Id</mat-header-cell>
                    <mat-cell *matCellDef='let element'>
                        {{element.renterId | truncate}}
                    </mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef='Timestamp'>
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp</mat-header-cell>
                    <mat-cell *matCellDef='let element'> {{element.time | date:'short'}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
                <mat-row *matRowDef='let row; columns: displayedColumns;'></mat-row>
            </mat-table>
        </div>

    </section>
</div>
