<mat-tab-group class="provider-tab-group">
    <mat-tab label="Summary">

        <div class="column" id='provide-storage-container'>
            <section>
                <mat-card>
                    <mat-card-title>
                        Summary
                    </mat-card-title>
                    <section>
                        <mat-card-subtitle>
                            Storage Allocated
                        </mat-card-subtitle>
                        <mat-card-content>
                            {{999999}}
                        </mat-card-content>
                    </section>
                    <section>
                        <mat-card-subtitle>
                            Storage Used
                        </mat-card-subtitle>
                        <mat-card-content>
                            {{111111}}
                        </mat-card-content>
                    </section>
                    <section>
                        <mat-card-subtitle>
                            Storage Remaining
                        </mat-card-subtitle>
                        <mat-card-content>
                            {{888888}}
                        </mat-card-content>
                    </section>
                    <section>
                        <mat-card-subtitle>
                            Total Contracts
                        </mat-card-subtitle>
                        <mat-card-content>
                            {{11}}
                        </mat-card-content>
                    </section>
                </mat-card>
            </section>
        </div>


    </mat-tab>
    <mat-tab label="Settings">
        <div id='provide-storage-settings-container'>
            <section>
                <mat-card>
                    <mat-card-title>
                        Settings
                    </mat-card-title>
                    <mat-card-content>
                        <mat-form-field>
                            <mat-select placeholder="Select Wallet">
                                <mat-option *ngFor="let wallet of wallets" [value]="wallet.value">
                                    {{ wallet.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field>
                            <input #storageAmount matInput placeholder="Storage Available" value="999999" type="number">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field>
                            <input #minPrice matInput placeholder="Min Price per GB" value="1" type="number">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field>
                            <input #minContract matInput placeholder="Min Contract Duration" value="17" type="number">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field>
                            <input #maxContract matInput placeholder="Max Contract Duration" value="84" type="number">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <button mat-raised-button class="skybin-btn-primary" (click)='updateProviderSettings()'
                                name='provide-storage-update-button'>Update Settings
                        </button>
                    </mat-card-content>
                </mat-card>
            </section>
        </div>
    </mat-tab>

    <mat-tab label="Contracts">
        <div>
            <mat-card>
                <mat-card-title>
                    Contracts
                </mat-card-title>
                <mat-card-content>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Renter ID</th>
                            <th>Storage Rented</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor='let contract of myContracts'>
                            <td>{{contract.renterID}}</td>
                            <td>{{contract.storageSpace}}</td>
                        </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>


