.provider-tab-group {
    border: 1px solid #e8e8e8;
}
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
