
#provider-dashboard-container {
    /*background: #f1f1f1;*/
    margin: 0;
    padding: 40px;
    width: 100%;
    height: 100%;
}

#provider-charts-container {
    padding-left: 20px;
}

#provider-charts-container-inner {
    padding-bottom: 25px;
}

.carousel-indicators li {
    background-color: grey;
}

.carousel-indicators .active {
    background-color: black;
}

#provider-carousel-indicators {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#provider-settings-button {
    margin-left: 1em;
}

.stats-card {
    background: #fbfafa;
    width: 100%;
    margin-bottom: 20px;
}

#mat-tab-content-0-0 > div {
    overflow: hidden;
}

#mat-tab-content-1-0 > div {
    overflow: hidden;
}

#node-id-span {
    font-size: .7em;
}

#node-status {
    margin-top: 5px;
    margin-left: 24px;
    color: black;
}

#node-status-icon {
    color: green;
    font-size: 1.5em;
    display: inline;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: #00A7F3;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #00A7F3;
}

.chart-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    /*margin-left: 5em;*/
}

.chart-title {
    /*margin-right: 3em;*/
}

.provider-stat-body {
    line-height: 2em;
}

.provider-stat-card {
    margin-bottom: 0 !important;
}

.running-status-color {
    color: #15c377;
}

#status-text {
    margin-right: 1em;
}

.provider-stat-value {
    margin-left: 15%;
    font-weight: 500;
}

.provider-td {
    padding-left: 0 !important;
}

.running-status-icon {
    margin-right: 0.5em;
}

.provider-stat-desc {
    color: #6f6f6f;
}

.x-pad {
    padding-right: 1em;
}

.provider-stat-table {
    /*width: 100% !important;*/
}

#long-ass-provider-td {
    white-space: nowrap;
}
