<mat-tab-group class='provider-tab-group'>
    <mat-tab label='Summary' id='provide-storage-container'>
        <div class='col-sm-12' id='provide-storage-summary-container'>
            <section>
                <mat-card>
                    <mat-card-title>
                        Summary
                    </mat-card-title>
                    <div class='row'>
                        <div class='col-sm-4'>
                            <mat-card-subtitle>
                                Storage Allocated
                            </mat-card-subtitle>
                            <mat-card-content>
                                {{providerInfo.providerAllocated | bytes}}
                            </mat-card-content>
                        </div>
                        <div class='col-sm-4'>
                            <mat-card-subtitle>
                                Storage Reserved
                            </mat-card-subtitle>
                            <mat-card-content>
                                {{providerInfo.providerReserved | bytes}}
                            </mat-card-content>
                        </div>
                        <div class='col-sm-4'>
                            <mat-card-subtitle>
                                Storage Free
                            </mat-card-subtitle>
                            <mat-card-content>
                                {{providerInfo.providerFree | bytes}}
                            </mat-card-content>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-4'>
                            <mat-card-subtitle>
                                Storage Used
                            </mat-card-subtitle>
                            <mat-card-content>
                                {{providerInfo.providerUsed | bytes}}
                            </mat-card-content>
                        </div>
                        <div class='col-sm-4'>
                            <mat-card-subtitle>
                                Total Contracts
                            </mat-card-subtitle>
                            <mat-card-content>
                                {{providerInfo.providerContracts}}
                            </mat-card-content>
                        </div>
                    </div>
                </mat-card>
            </section>
        </div>
        <div class='col-sm-12' id='provide-storage-activity-container'>
            <section>
                <mat-card-title id='activity-title-container'>
                    Activity
                </mat-card-title>
                <div id='provide-storage-activity-feed-container' class='example-container mat-elevation-z8'>
                    <mat-table #table [dataSource]='dataSource' matSort>

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef='Request Type'>
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Request Type</mat-header-cell>
                            <mat-cell *matCellDef='let element'> {{element.requestType}}</mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef='Block ID'>
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Block Id</mat-header-cell>
                            <mat-cell *matCellDef='let element'>
                                {{element.blockId | truncate}}
                            </mat-cell>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef='Renter ID'>
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Renter Id</mat-header-cell>
                            <mat-cell *matCellDef='let element'>
                                {{element.renterId | truncate}}
                            </mat-cell>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef='Timestamp'>
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp</mat-header-cell>
                            <mat-cell *matCellDef='let element'> {{element.time | date:'short'}}</mat-cell>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef='Contract'>
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Contract</mat-header-cell>
                            <mat-cell *matCellDef='let element'> {{element.contract}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
                        <mat-row *matRowDef='let row; columns: displayedColumns;'></mat-row>
                    </mat-table>
                </div>

            </section>

        </div>
    </mat-tab>

    <mat-tab label='Settings'>
        <div id='provide-storage-settings-container'>
            <section>
                <mat-card>
                    <mat-card-title>
                        Settings
                    </mat-card-title>
                    <mat-card-content>
                        <mat-form-field>
                            <mat-select placeholder='Select Wallet'>
                                <mat-option *ngFor='let wallet of wallets' [value]='wallet.value'>
                                    {{ wallet.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field>
                            <input #storageAmount matInput placeholder='Storage Available' value='999999' type='number'>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field>
                            <input #minPrice matInput placeholder='Min Price per GB' value='1' type='number'>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field>
                            <input #minContract matInput placeholder='Min Contract Duration' value='17' type='number'>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-form-field>
                            <input #maxContract matInput placeholder='Max Contract Duration' value='84' type='number'>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content>
                        <button mat-raised-button class='skybin-btn-primary' (click)='updateProviderSettings()'
                                name='provide-storage-update-button'>Update Settings
                        </button>
                    </mat-card-content>
                </mat-card>
            </section>
        </div>
    </mat-tab>

    <mat-tab label='Contracts'>
        <div>
            <mat-card>
                <mat-card-title>
                    Contracts
                </mat-card-title>
                <mat-card-content>
                    <table class='table'>
                        <thead>
                        <tr>
                            <th>Renter ID</th>
                            <th>Storage Rented</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor='let contract of myContracts'>
                            <td>{{contract.renterID}}</td>
                            <td>{{contract.storageSpace}}</td>
                        </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>


