<div id="my-wallet-container">
  <div>
    <h3>Summary</h3>
    <div>
      <div>Wallet ID</div>
      <p>KDUIAKENFAKU</p>
    </div>
    <div>
      <div>Current Funds</div>
      <p>$48.39</p>
    </div>
    <div>
      <div>Total Spent this Month</div>
      <p>$5.33</p>
    </div>
    <div>
      <div>Total Earned this Month</div>
      <p>$32.25</p>
    </div>
  </div>
  <div>
    <h3>Transactions</h3>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date.toDateString()}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.user}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>