nav {
    background: #eff9ff;
    height: 100%;
    padding-left: 15px;
}

#title-bar {
    -webkit-app-region: drag;
    height: 22px;
}

#app-logo {
    margin-left: 15px;
    height: 50px;
}

a {
    color: #658798;
}

.row {
    flex-wrap: nowrap;
}

.active {
    color: #116eac;
    font-weight: bold;
}

#nav-container {
    width: 12em;
    max-width: 12em;
    min-width: 12em;
    min-height: 200px;
    padding-left: 0;
    padding-right: 0;
    height: calc(100vh - 81px);
}

#main-content {
    min-width: 600px;
    padding-left: 0;
    padding-right: 0;
    max-height: calc(100vh - 81px);
    /*overflow: hidden;*/
    overflow-y: auto;
}

#header {
    padding: 15px;
    border-bottom: 1px solid #d5d5fa;
    -webkit-app-region: drag;
}
