nav {
    background: #eff9ff;
    height: 100%;
    padding-left: 15px;
}

#app-logo {
    margin-left: 15px;
    height: 50px;
}

#content-row {
}

a {
    color: #658798;
}

.active {
    color: #1a99ef;
}

#nav-container {
    max-width: 250px;
    padding-left: 0;
    padding-right: 0;
    height: calc(100vh - 50px);
}

#main-content {
    padding-left: 0;
    padding-right: 0;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

#header {
}
