<div class='container-fluid' (drop)="onDrop($event)" (dragover)="onDragOver($event)">
    <div id='header' class='row'>
         <div class='col-sm-4'>
        <img id="app-logo" src="assets/skybin-logo.png">
        </div>
    </div>
    <div id='content-row' class='row'>
        <div id="nav-container" class='col'>
            <nav class='nav flex-column'>
                <!--TODO: later implementations will have login/register as the first views -->
                <!--<a routerLink="/login" routerLinkActive="active">Login</a>-->
                <!--<a routerLink="/register" routerLinkActive="active">Register</a>-->

                <div class='row'>
                    <a class='nav-link' routerLink='/my-files' routerLinkActive='active'>
                        <i class="fa fa-file" aria-hidden="true"></i>
                        My Files
                    </a>
                </div>
                <div class='row'>
                    <a class='nav-link' routerLink='/shared-with-me' routerLinkActive='active'>
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        Shared With Me
                    </a>
                </div>
                <div class='row'>
                    <a class='nav-link' routerLink='/provide-storage' routerLinkActive='active'>
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        Provide Storage
                    </a>
                </div>
                <div class='row'>
                    <a class='nav-link' routerLink='/my-wallet' routerLinkActive='active'>
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        My Wallet
                    </a>
                </div>
            </nav>
        </div>
        <div id="main-content" class='col'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
