<h2 id="share-dialog-title" mat-dialog-title>Share File</h2>

<p id="share-access-title"><i>Shared with:</i></p>

<mat-dialog-content>
  <mat-list dense>
    <mat-list-item *ngFor="let renter of sharedFile.accessList" class="user-name">{{ renter.renterId.slice(0, 15) }}...</mat-list-item>
  </mat-list>

  <mat-form-field id="share-input">
      <input matInput (keyup.enter)="addName()" [(ngModel)]="currentName" placeholder="User">
  </mat-form-field>

  <!--<button mat-raised-button (click)="shareFile(currentName)" skybin-btn-primary>Add</button>-->
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button (click)="shareFile(currentName)" mat-button [mat-dialog-close]="true">Share</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
