
#share-dialog-title {
    margin-bottom: 0px;
}

.user-name {
    font-size: 1.0em !important;
    height: 2.0em !important;
}

#share-input {
    margin-top: 1em;
}

#share-access-title {
    margin-top: 1em;
}
