<div>
    <h2 id="share-dialog-title" mat-dialog-title>Share File</h2>
    <mat-dialog-content>
        <div *ngIf="sharedFile.accessList.length > 0">
            <p id="share-access-title">
                <i>Shared with:</i>
            </p>
            <mat-list dense>
                <mat-list-item *ngFor="let renter of sharedFile.accessList" class="user-name">{{ renter.renterId.slice(0, 15) }}...</mat-list-item>
            </mat-list>
        </div>
        <mat-form-field id="share-input">
            <input matInput [(ngModel)]="currentName" placeholder="User">
        </mat-form-field>
        <mat-error *ngIf="errorMessage.length > 0">
            {{errorMessage}}
        </mat-error>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button (click)="shareFile(currentName)" mat-button>Share</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>