#shared-with-me-container {
    height: 100%;
    overflow: hidden;
}

#shared-with-me-buttons {
    min-width: 434px;
    padding: 15px;
    border-bottom: 1px solid #d5d5fa
}
#shared-search-container {
    float: right;
    width: 15em;
}

#search-input {
    font-family: FontAwesome, Arial;
}
