<div id='new-folder-dialog-container'>
    <mat-form-field>
        <input matInput (keyup.enter)="submit()" [(ngModel)]="name" placeholder="New Folder">
    </mat-form-field>
    <mat-error *ngIf="errorMessage.length > 0">
        {{errorMessage}}
    </mat-error>
    <mat-dialog-actions align="center">
        <button mat-raised-button  mat-dialog-close>Cancel</button>
        <button class="skybin-btn-primary" mat-raised-button (click)="submit()">Create</button>
    </mat-dialog-actions>
</div>
