.detail-content {
    margin-bottom: 16px;
}

.version-number {
    margin-right: 0.5em;
}

.version-size {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#version-dropdown {
    margin-bottom: 1em;
}

#version-table {
    width: 100%;
}

.version-row {
    border-top: 1px solid gray;
}

.delete-version-button {
    background: #f16e6e;
    color: white;
}

.version-td {
    height: 4em;
}

#file-details-container {
    min-width: 540px;
}
