<div id="file-breadcrumb" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" (click)="currentPath = []; onPathChanged.emit('');" aria-current="page">Home</li>
        <li class="breadcrumb-item" *ngFor='let dir of currentPath' (click)="breadcrumbPath(dir)" aria-current="page">{{ dir }}</li>
    </ol>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let dir of getDirsInCurrentDirectory()' (click)="changeDir(dir)">
            <td>{{getName(dir)}}</td>
            <td>-</td>
        </tr>
        <tr *ngFor='let file of getFilesInCurrentDirectory()' (click)="selectFile($event, file)" 
            [class.selected]="file === selectedFile">
            <td>{{getName(file)}}</td>
            <td>{{file.size}}</td>
        </tr>
    </tbody>
</table>
